<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='../static/tailwind.css') }}"
    />
    <script src="{{ url_for('static', path='../static/htmx.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>BELATED HAPPY BIRTHDAY!</title>
  </head>
  <body>
    <h1 class="hide invisible">
      belated happy birthday carl! ☭
    </h1>
    <div
      class="card"
    >
      {% set phrases = [ 
        {"text": "if", "size": "text-8xl font-bold", "delay": "delay-[1s]"}, 
        {"text": "you", "size": "text-4xl", "delay": "delay-[1.6s]"}, 
        {"text": "can read", "size": "text-lg font-bold", "delay": "delay-[2.2s]"},
        {"text": "the last words", "size": "text-base", "delay": "delay-[2.8s]"},
        {"text": "on this birthday card", "size": "text-base", "delay": "delay-[3.4s]"},
        {"text": "then you are not that old <span class=\"text-red-600\">yet</span>", "size": "text-xs", "delay": "delay-[4s]"} 
      ] %} 
      {% for phrase in phrases %}
        <p
          class="translate-y-5 opacity-0 transition-all duration-1000 ease-in {{ phrase.size }} {{ phrase.delay }}"
        >
          {{ phrase.text | safe }}
        </p>
      {% endfor %}

      
      <div class="img-container">
        <img
          src="{{ url_for('static', path='../static/images/dance.gif') }}"
          alt="glasses"
          class="hide invisible"
        />
        <a
          hx-get="/get-audio"
          hx-trigger="click"
          hx-target="#hidden"
          hx-swap="innerHTML"
          onclick="unhideImage()"
        >
          <img
            src="{{ url_for('static', path='../static/images/glasses.png') }}"
            alt="glasses"
            class="glasses opacity-0"
          />
        </a>
        <img
          src="{{ url_for('static', path='../static/images/food.gif') }}"
          alt="glasses"
          class="hide invisible"
        />
      </div>
      
      <div id="hidden"></div>
      <p
        class="from opacity-0"
      >
        From your BXU Bois
      </p>
    </div>

    <div class="balloon-container">
      {% for i in range(25) %}
        <img src="{{ url_for('static', path='../static/images/thing.gif') }}"
             class="balloon"
             style="left: {{ (i * 4) }}vw;">
      {% endfor %}
    </div>


    <script src="{{ url_for('static', path='../static/script.js') }}" defer></script>
    <script>
      htmx.config.selfRequestsOnly = false;
    </script>
  </body>
</html>
